
body {
    font-family: "Work Sans", sans-serif;
  }

h3 #about-header {
  font: black;
}


#map {
  width:100%;
  height: calc(100vh);
}

#svg g{
}

.county {
  fill-opacity: 50%;
  fill: rgb(133, 133, 133);
  stroke: rgb(41, 41, 41);
}

.burn {
  stroke-width: .5;
  stroke: black;
}

.burns {
  stroke-width: .5;
  stroke: black;
}
.burn:hover {
  stroke-width: 2;
  stroke: black;
}

.hidden tooltip{

}

[agency='University of Kentucky'] {
  fill: blue
} 

#ui {
  position:absolute;
  right: 1em;
  top: 1em;
}

.legend circle {
  fill: none;
  stroke: rgb(0, 0, 0);
}

.legend text {
  fill: #777;
  font: 10px sans-serif;
  text-anchor: middle;
}

/* #slider {
  
} */

#ui-controls {
  position:absolute;
  left: 1em;
  top: 1em;
  background: rgba(75, 75, 75, 0.8);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  color: whitesmoke;
}

#ui-controls .min {
  float: left;
}

#ui-controls .max {
  float: right;
  margin-right: -15px;
}

#slider-time {
  position:absolute;
  /* left: .25em; */
  top: 2em;
  z-index: 1;
}

#value-time {
  position: relative;
  left: 7em;
  top: .5em;
  z-index: 1;
}

.track-inset {
  stroke: #2b4a3d;
}

.hide {
  opacity: 0;
  }

    /* Small devices (landscape phones, 576px and up) */
    @media (min-width: 576px) {}

    /* Medium devices (tablets, 768px and up) */
    @media (min-width: 768px) {
      #map {
        height: calc(60vh);
      }
    }

    /* Large devices (desktops, 992px and up) */
    @media (min-width: 992px) {

      #map {
        height: calc(80vh);
      }